<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/index}">Back</a>
<form th:action="@{/edit}" th:object="${customer}" method="post">
    <input type="hidden" th:field="*{id}">
    <label>Name
        <input type="text" th:field="*{name}">
    </label>
    <label>Email
        <input type="email" th:field="*{email}">
    </label>
    <label>Address
        <input type="text" th:field="*{address}">
    </label>
    <input type="submit" value="Edit">
</form>
</body>
</html>